<div id="errorsContainer" ng-controller="errorsCtrl">
    <button onclick="window.history.back();" type="button" class="btn btn-link btn-back">
        <i class="fa fa-angle-left fa-fw"></i> {{ trans('back') }}
    </button>
    <br>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <h1 style="margin-top: 0;" class="page-header">{{ trans('errorsGroup') }} "{{ group }}"</h1>
        </div>
    </div>
    <!-- /.row -->

    <script>
    $(document).ready(function() {

    });
    </script>
</div>
