<div id="usersContainer" ng-controller="usersCtrl">
    <button  onclick="window.history.back();" type="button" class="btn btn-link btn-back">
        <i class="fa fa-angle-left fa-fw"></i> {{ trans('back') }}
    </button>
    <br>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <h1 style="margin-top: 0;" class="page-header">{{ trans('usersDetails') }}</h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-user-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('user_id') }}
        </div>
        <div class="col-sm-9" ng-bind="userID">
            <img ng-hide="userID" class="spinner" src="includes/images/spinner.gif" />
            {{ userID }}
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-user-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('first_appear') }}
        </div>
        <div class="col-sm-9">
            <img ng-hide="firstAppear" class="spinner" src="includes/images/spinner.gif" />
            {{ firstAppear }}
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-user-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('num_requests') }}
        </div>
        <div class="col-sm-9">
            <img ng-hide="numRequests" class="spinner" src="includes/images/spinner.gif" />
            {{ numRequests }}
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-user-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('ip_history') }}
        </div>
        <div class="col-sm-9">
            <img ng-hide="ipHistory" class="spinner" src="includes/images/spinner.gif" />
            <span class="ipHistory" ng-repeat="ip in ipHistory">{{ ip }}</span>
        </div>
    </div>
    <!-- /.row -->

    <div class="row row-user-details">
        <div class="col-sm-3 detailsSubtitle">
            {{ trans('user_details_requests') }}
        </div>
        <div class="col-sm-9">
            <a href="{{ config.baseUrl + '/users/' + userID + '/requests' }}">{{ trans('details') }}</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans('chart_error_types') }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <img ng-hide="errorTypes" class="spinner_large" src="includes/images/spinner.gif" />
                    <div id="morris-donut-chart-error-types"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans('chart_activity_monthly') }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <img ng-hide="activityMonthly" class="spinner_large" src="includes/images/spinner.gif" />
                    <div id="morris-line-chart-activity-monthly"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ trans('error_percentage') }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <img ng-hide="errorPercentage" class="spinner_large" src="includes/images/spinner.gif" />
                    <div ng-show="errorPercentage">
                        {{ trans('request_word_count_avg') }}: {{ avgWordCount }}<br>
                        {{ trans('request_error_count_avg') }}: {{ avgErrorCount }}<br>
                        {{ trans('request_error_percent') }}: {{ (avgErrorCount * 100 / avgWordCount).toFixed(2) }}%<br>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->

    <script>
    $(document).ready(function() {

    });
    </script>
</div>
